html, body, .hijs {
    font-size: 1.2rem;
    background: #282a36;
}

body > pre > code > span.php-tag > span {
    color: #8be9fd;
    font-family: monospace;
    font-weight: 700;
}

a:link {
    color: yellowgreen;
}

a:visited {
    color: grey;
}

a:hover {
    color: aqua;
}
