html, body, .hijs {
<<<<<<< HEAD
    font-size: 100%;
=======
    font-size: 1.5rem;
>>>>>>> Increase font size
    background: #282a36;
}

a:link {
    color: yellowgreen;
}

a:visited {
    color: grey;
}

a:hover {
    color: aqua;
}
