body {
    padding-bottom: 30px;
}

iframe {
    padding: 4px;
}

#github small, #about strong {
    color: #ccc;
}

.section {
    padding-top: 40px;
}

.repo-description {
    padding: 2px 0 6px 10px;
}

#me {
    padding: 14px;
}

#certificates {
    padding: 10px;
}
