body {
    padding-bottom: 30px;
}

iframe {
    padding: 4px;
}

.section {
    padding-top: 40px;
}

.card {
    padding-bottom: 10px;
}

#me {
    padding: 14px;
}

#about strong, #github small {
    color: #ccc;
}

#certificates {
    padding: 10px;
}

#contact a {
    margin-right: 2px;
    text-decoration: none;
}
